* {
  font-family: "Lato", sans-serif;
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 52px;
  margin-bottom: 32px;
}
p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 48px;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.692),
      rgba(34, 34, 34, 0.658)
    ),
    url(food.jpg);
  background-size: cover;
}
.header {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
a {
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 0 20px;
  padding: 6px;
  margin-right: 30px;
  font-weight: bold;
}
a:hover,
a:active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 20px;
  text-decoration: underline;
}
.site {
  width: 50px;
  height: 50px;
  color: red;
}
.top,
.site {
  margin-top: 50px;
}
.navi {
  margin-left: 90px;
}
.top {
  font-size: 40px;
  display: inline-block;
  background-color: #ffffff;
  color: black;
  padding: 10px;
  border-radius: 0px 20px;
}
